<div class="popup" id="lead-form-popup">
  <form action="/leads/nova" method="POST" class="popup__content">
    <a href="#lead-form" class="popup__close">&times;</a>
    <input id='step2' type='checkbox'>
    <div class="popup__left"> 
    <img src="/static/img/logo-simple.png" alt="Logo Vento Digital">         
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name ="email" aria-describedby="emailHelp">
      <label for='step2' id="continue-step2" class="continue">
        <div class="btn btn-default btn-success btn-lg">Continue</div>
      </label>
    </div>      
    </div>
    <div class="popup__right">  
    <img src="/static/img/logo-simple.png" alt="Logo Vento Digital">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="nome" class="form-control" id="nome" name ="nome" aria-describedby="nome">          
    </div>    
    <div>Empresário?</div>
    <div class="form-check">         
      <input class="form-check-input" type="radio" name="tipo" id="tipo1" value="B2B" checked>
      <label class="form-check-label" for="tipo1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="tipo" id="tipo2" value="B2C">
      <label class="form-check-label" for="tipo2">
        Não
      </label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Salvar</button>            
    </div> 
  </form>  
</div>
