<%- include('../header') %>
  <form action="/reviewers/nova" method="POST">
    <div class="form-group">
      <label for="reviewer">Reviewer</label>
      <input type="text" class="form-control" id="reviewer" name="reviewer" aria-describedby="emailHelp" placeholder="Digite a reviewer">
    </div>  
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
<%- include('../footer') %>