<%- include('../header-blog') %>

<!--BANNER-->

<div class="banner">
  <h1 class="single-post">
    <span>
      Marketing de conteúdo... <br>
      o que é isso? 
    </span> 
  </h1>
</div>
<!--POST-->
<div class="post">
  <div class="post__content">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, modi ipsam. Maiores pariatur, doloribus qui iste officia sunt dolore harum sapiente ea at! Ducimus ratione quis laborum voluptatum rem assumenda laudantium natus corrupti consequatur similique! Esse doloribus architecto ipsam iusto, dolorum ullam explicabo a odit beatae molestiae reiciendis hic repudiandae dolorem soluta fuga alias quidem omnis pariatur deleniti sapiente cumque minima rerum voluptatibus autem. Sed at tempore cupiditate praesentium natus vero saepe facere quia velit quae accusantium, eius provident iste omnis culpa nisi alias odit corrupti ipsam blanditiis inventore! Odit voluptates pariatur minima tempora, repudiandae eius dolores deserunt eum optio.</p>
    <p class="post__published-when">Publicado em 14/11/2018</p>
    <p>Quo, iusto, molestiae iste fuga officia, recusandae excepturi commodi expedita eum harum eaque quos. Nihil soluta magnam quisquam magni facilis ipsa nulla culpa, natus eum, asperiores quae consectetur labore totam? Odio soluta, laborum perferendis est nemo magni. Illum cumque neque ullam cupiditate aliquid. Nihil laborum velit delectus. Doloremque ratione asperiores est impedit obcaecati accusamus sunt quibusdam magni inventore sapiente modi, blanditiis repellendus, similique repudiandae corrupti, sit ipsam possimus? Natus nam architecto voluptate. Quisquam perferendis porro, enim magnam molestias facilis facere nobis eius nemo omnis! Iusto maxime adipisci ducimus molestiae cupiditate atque rem laboriosam pariatur possimus, inventore velit nostrum animi ratione.</p>
    <p>Placeat iure et distinctio itaque quae magni optio harum veritatis a atque delectus exercitationem similique doloremque dolore libero maiores sapiente dolor quod doloribus minima asperiores quam, nisi vel! Modi quam nobis consectetur a exercitationem, placeat, nemo iure ea nisi hic aspernatur! Vero sunt quia adipisci saepe maxime neque, facere error ullam vel suscipit quas doloribus deserunt id expedita ea, cumque temporibus sit voluptates quos molestias, possimus minus. Natus nisi reiciendis quod enim facere harum iusto distinctio dolorum saepe dolor a aliquid, tempora, ipsum officiis, amet suscipit illum officia delectus provident! Quod in accusantium odit vel iure, laboriosam eum facilis magnam.</p>
    <p>Molestiae quaerat architecto nihil! Dolore quas excepturi maiores, impedit in similique quo aut. Praesentium, quidem culpa tempora, harum, itaque deserunt ducimus fugit velit nostrum quia exercitationem distinctio soluta aperiam nobis? Eaque id magni quas totam repellendus eligendi vero nobis sequi sint perferendis, voluptates, error impedit quo! Voluptatem magnam reprehenderit voluptatibus quae, autem sit nihil animi impedit nobis, repellat obcaecati provident fuga? Nesciunt cumque doloremque, velit, aut provident eaque, tenetur animi laboriosam quia facere voluptatem! Beatae quo optio, sapiente repudiandae ullam ut quae possimus. Nulla nostrum, minima doloremque quia deserunt, porro beatae consequatur necessitatibus inventore explicabo repellendus eum animi et voluptatibus?</p>
    <p>Libero voluptatem repudiandae culpa corrupti laboriosam cupiditate nisi, voluptate necessitatibus voluptatibus deserunt excepturi magni eos nulla laborum, fugiat exercitationem, iste obcaecati reiciendis veniam officia eligendi assumenda distinctio. Accusamus, a facilis! Placeat perspiciatis itaque, laborum nulla similique aspernatur eligendi. Ex incidunt in adipisci aliquid fuga fugiat soluta laudantium, excepturi nesciunt! Odit voluptatum doloremque mollitia consequatur cumque nihil, sunt aperiam amet quibusdam eum non sed, laboriosam quos necessitatibus velit corporis quasi maiores nesciunt tempore repudiandae quia. Perspiciatis porro eveniet numquam corporis esse obcaecati laborum sint provident, tempore nam modi quis aliquam repellendus laboriosam atque facere voluptatem at earum minima rerum! Asperiores, voluptatum.</p>
  </div>
</div>

<a id="lead-form" href="#lead-form-popup" class="btn btn-primary lead__button" type="submit">CADASTRE-SE</a>
<%- include('../leads/form') %>
<%- include('../footer-blog') %>
